[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
genanki = ">=0.13"
zstandard = ">=0.21"
edge-tts = ">=6.1"
Pillow = ">=10.0"

[requires]
python_version = "3.12"
